---
layout: default
---
<div class="row">
    <div class="col d-flex justify-content-center">
        <img class="img-responsive" src="http://placehold.it/200x200">
    </div>
    <div class="col-9">
        <h3>
            Postdoctoral Research Associate
        </h3>
        <p>
            Department of Applied Mathematics and Theoretical Physics <br>
            Centre for Mathematical Sciences <br>
            University of Cambridge <br>
            Wilberforce Road, Cambridge CB3 0WA
        </p>
        <a href="#" class="btn">
            <h3 class="bi bi-twitter"></h3>
        </a>
        <a href="#" class="btn">
            <h3 class="bi bi-github"></h3>
        </a>
        <a href="#" class="btn">
            <h3 class="bi bi-linkedin"></h3>
        </a>
        <a href="#" class="btn">
            <h3 class="bi bi-envelope-fill"></h3>
        </a>
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    {% for project in site.projects limit:3 %}
    <div class="col">
        <a href="/projects.html#{{ project.short }}"><img class="img-responsive" src="http://placehold.it/400x200"></a>
        <br><br>
        <h3><a href="/projects.html#{{ project.short }}" class="text-decoration-none">{{ project.title }}</a></h3>
        <p>{{ project.excerpt }}</p>
    </div>
    {% endfor %}
</div>